#container {
	width: 461px;
	margin: 0 auto;
}

.graphContainer {
	width: 457px;
	display: inline-block;
}
#menuspan {
    display: inline-block;
    margin: 0 auto;
}

.graphContainerY {
    height: 780px;
}